@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<br />

<div class="container">
    <h2>
        Privacy Policy for Priority Clips
    </h2>

    This Privacy Policy describes how your personal information is collected, used, and shared when you visit Priority Clips .

    <br />
    <br />
    <h2>
        Personal Information We Collect
    </h2>
    When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site.

    <br />
    <br />
    <h3>

        We collect Device Information using the following technologies:
    </h3>

    Cookies: These are data files that are placed on your device or computer and often include an anonymous unique identifier.

    Log files: Track actions occurring on the Site and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.


    <br />
    <br />
    <h2>How We Use Your Personal Information</h2>
    We use the collected information to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site) and to assess the success of our marketing and advertising campaigns.


    <br />
    <br />
    <h2>Sharing Your Personal Information</h2>
    We do not share your Personal Information with third parties unless required by law.

    <br />
    <br />
    <h2>Your Rights</h2>
    If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted.

    <br />
    <br />
    <h2>
        Changes
    </h2>
    We may update this privacy policy from time to time to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.

</div>

<br />
<br />
<br />