

@{
    ViewData["Title"] = "Thank You for Contacting Priority Clips ";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <h1>Thank You <span class="text-info">@ViewBag.name</span> for Contacting Priority Clips!</h1>

    <h4>Your message has been received. We'll get back to you shortly.</h4>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />